<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/blog.css" />
</head>

<body>
    <!-- start nav -->
    <nav class="nav">
        <div class="container">
            <div class="nav__container__parnav">
                <div class="nav__container__parnav__brand float width30">
                    <a href="#">brand</a>
                </div>
                <ul class="nav__container__parnav__ul float width70">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Portfolio</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Prices</a>
                    </li>
                    <li>
                        <a href="#">Team</a>
                    </li>
                    <li class="nav__container__parnav__ul__li">
                        <a href="blog.html">Blog </a>
                        <ul class="nav__container__parnav__ul__li__ul">
                            <li><a href="#">Our Blog</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
    </nav>
    <!-- end nav -->
    <!-- start section one -->
    <section class="sectionone center">
        <div class="container">
            <div class="sectionone__container__items overflow">
                <div class="sectionone__container__items__item float width40">
                    <h1>Blog Page</h1>
                </div>
                <div class="sectionone__container__items__item float width60">
                    Home / Blog / single Post
                </div>
            </div>
        </div>
    </section>
    <!-- end section one -->
    <!-- start section two -->
    <section class="sectiontwo pd-y">
        <div class="container">
            <div class="sectiontwo__container__categories overflow">
                <div class="sectiontwo__container__categories__category float width70">
                    <div class="sectiontwo__container__categories__category__responsive">
                        <img src="../static/images/work2.jpg" class="
                  responsive
                  sectiontwo__container__categories__category__responsive__respo
                " alt="imageone" />
                    </div>
                    <div class="sectiontwo__container__categories__category__spansleft">
                        <span class="
                  sectiontwo__container__categories__category__spansleft__icon
                "></span
              ><span>Os@ma</span
              ><span
                class="
                  sectiontwo__container__categories__category__spansleft__icon
                "
              ></span
              ><span>S@lma</span
              ><span
                class="
                  sectiontwo__container__categories__category__spansleft__icon
                "
              ></span
              ><span>578</span>
                    </div>
                    <h2>Lorem ipsum dolor sit. Lorem ipsum dolor sit.</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam suscipit omnis quam fugit quaerat cum corporis maiores dolores, totam recusandae!
                    </p>
                    <div class="sectiontwo__container__categories__category__tags">
                        <span class="
                  sectiontwo__container__categories__category__tags__firsttag
                ">Tags:</span
              ><span
                class="
                  sectiontwo__container__categories__category__tags__secondtag
                "
              >
                <span
                  class="
                    sectiontwo__container__categories__category__tags__secondtag__icon
                  "
                ></span> Developer
                        </span><span class="
                  sectiontwo__container__categories__category__tags__secondtag
                ">
                <span
                  class="
                    sectiontwo__container__categories__category__tags__secondtag__icon
                  "
                ></span> Developer
                        </span><span class="
                  sectiontwo__container__categories__category__tags__secondtag
                ">
                <span
                  class="
                    sectiontwo__container__categories__category__tags__secondtag__icon
                  "
                ></span> Developer
                        </span><span class="
                  sectiontwo__container__categories__category__tags__secondtag
                ">
                <span
                  class="
                    sectiontwo__container__categories__category__tags__secondtag__icon
                  "
                ></span> Developer
                        </span><span class="
                  sectiontwo__container__categories__category__tags__secondtag
                ">
                <span
                  class="
                    sectiontwo__container__categories__category__tags__secondtag__icon
                  "
                ></span> Developer
                        </span><span class="
                  sectiontwo__container__categories__category__tags__secondtag
                ">
                <span
                  class="
                    sectiontwo__container__categories__category__tags__secondtag__icon
                  "
                ></span> Developer
                        </span>
                    </div>
                    <div class="sectiontwo__container__categories__category__img overflow">
                        <div class="
                  sectiontwo__container__categories__category__img__responsive
                  float
                  width20
                ">
                            <img src="../static/images/work2.jpg" class="
                    responsive
                    sectiontwo__container__categories__category__img__responsive__respo
                  " alt="imagethree" />
                        </div>
                        <div class="
                  sectiontwo__container__categories__category__img__side
                  float
                  width80
                ">
                            <div class="
                    sectiontwo__container__categories__category__img__side__social
                  ">
                                <span class="
                      sectiontwo__container__categories__category__img__side__social__span
                    ">john doe</span
                  >
                  <span
                    class="
                      sectiontwo__container__categories__category__img__side__social__icon
                    "
                  ></span
                  ><span
                    class="
                      sectiontwo__container__categories__category__img__side__social__icon
                    "
                  ></span
                  ><span
                    class="
                      sectiontwo__container__categories__category__img__side__social__icon
                    "
                  ></span
                  ><span
                    class="
                      sectiontwo__container__categories__category__img__side__social__icon
                    "
                  ></span>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, obcaecati.consectetur adipisicing elit. Natus, obcaecati.
                            </p>
                        </div>
                    </div>
                    <h2>#13# comments</h2>
                    <!--  -->
                    <div class="sectiontwo__container__categories__category__img overflow">
                        <div class="
                  sectiontwo__container__categories__category__img__responsive
                  float
                  width20
                ">
                            <img src="../static/images/work2.jpg" class="
                    responsive
                    sectiontwo__container__categories__category__img__responsive__respo
                  " alt="imagethree" />
                        </div>
                        <div class="
                  sectiontwo__container__categories__category__img__side
                  float
                  width80
                ">
                            <div class="
                    sectiontwo__container__categories__category__img__side__social
                  ">
                                <span class="
                      sectiontwo__container__categories__category__img__side__social__span
                    ">john doe</span
                  >
                  <span
                    class="
                      sectiontwo__container__categories__category__img__side__social__icon
                    "
                  ></span
                  ><span
                    class="
                      sectiontwo__container__categories__category__img__side__social__icon
                    "
                  ></span
                  ><span
                    class="
                      sectiontwo__container__categories__category__img__side__social__icon
                    "
                  ></span
                  ><span
                    class="
                      sectiontwo__container__categories__category__img__side__social__icon
                    "
                  ></span>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, obcaecati.consectetur adipisicing elit. Natus, obcaecati.
                            </p>
                        </div>
                    </div>
                    <!--  -->
                    <div class="sectiontwo__container__categories__category__img overflow">
                        <div class="
                  sectiontwo__container__categories__category__img__responsive
                  float
                  width20
                ">
                            <img src="../static/images/work2.jpg" class="
                    responsive
                    sectiontwo__container__categories__category__img__responsive__respo
                  " alt="imagethree" />
                        </div>
                        <div class="
                  sectiontwo__container__categories__category__img__side
                  float
                  width80
                ">
                            <div class="
                    sectiontwo__container__categories__category__img__side__social
                  ">
                                <span class="
                      sectiontwo__container__categories__category__img__side__social__span
                    ">john doe</span
                  >
                  <span
                    class="
                      sectiontwo__container__categories__category__img__side__social__icon
                    "
                  ></span
                  ><span
                    class="
                      sectiontwo__container__categories__category__img__side__social__icon
                    "
                  ></span
                  ><span
                    class="
                      sectiontwo__container__categories__category__img__side__social__icon
                    "
                  ></span
                  ><span
                    class="
                      sectiontwo__container__categories__category__img__side__social__icon
                    "
                  ></span>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, obcaecati.consectetur adipisicing elit. Natus, obcaecati.
                            </p>
                        </div>
                    </div>
                    <!--  -->
                    <div class="sectiontwo__container__categories__category__img overflow">
                        <div class="
                  sectiontwo__container__categories__category__img__responsive
                  float
                  width20
                ">
                            <img src="../static/images/work2.jpg" class="
                    responsive
                    sectiontwo__container__categories__category__img__responsive__respo
                  " alt="imagethree" />
                        </div>
                        <div class="
                  sectiontwo__container__categories__category__img__side
                  float
                  width80
                ">
                            <div class="
                    sectiontwo__container__categories__category__img__side__social
                  ">
                                <span class="
                      sectiontwo__container__categories__category__img__side__social__span
                    ">john doe</span
                  >
                  <span
                    class="
                      sectiontwo__container__categories__category__img__side__social__icon
                    "
                  ></span
                  ><span
                    class="
                      sectiontwo__container__categories__category__img__side__social__icon
                    "
                  ></span
                  ><span
                    class="
                      sectiontwo__container__categories__category__img__side__social__icon
                    "
                  ></span
                  ><span
                    class="
                      sectiontwo__container__categories__category__img__side__social__icon
                    "
                  ></span>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, obcaecati.consectetur adipisicing elit. Natus, obcaecati.
                            </p>
                        </div>
                    </div>
                    <!--  -->
                    <!--  -->
                    <!--  -->
                    <h2>leave a reply</h2>
                    <span class="sectiontwo__container__categories__category__line"></span
            >
            <form action="#" class="sectioneleven__container__form center">
              <div class="sectioneleven__container__form__info">
                  <input type="text" placeholder="Name" />
                  <input type="email" placeholder="Email" />
              </div>
              <div class="sectioneleven__container__form__subject">
                  <input type="text" placeholder="Subject" />
              </div>
              <div class="sectioneleven__container__form__text">
                  <textarea cols="30" rows="10" placeholder="Message"></textarea>
              </div>
              <button>Send Message</button>
          </form>

            <!-- end left -->
          </div>
          <div class="sectiontwo__container__categories__category right float">
            <div class="sectiontwo__container__categories__category__input">
              <input type="text" placeholder="Search" />
            </div>
            <h2>category</h2>
            <span
              class="sectiontwo__container__categories__category__line"
            ></span>
                    <div class="sectiontwo__container__categories__category__web">
                        <span>Web Design</span
              ><span
                class="sectiontwo__container__categories__category__web__span"
              ></span>
                    </div>
                    <div class="sectiontwo__container__categories__category__web">
                        <span>Web Design</span
              ><span
                class="sectiontwo__container__categories__category__web__span"
              ></span>
                    </div>
                    <div class="sectiontwo__container__categories__category__web">
                        <span>Web Design</span
              ><span
                class="sectiontwo__container__categories__category__web__span"
              ></span>
                    </div>
                    <div class="sectiontwo__container__categories__category__web">
                        <span>Web Design</span
              ><span
                class="sectiontwo__container__categories__category__web__span"
              ></span>
                    </div>
                    <div class="
                sectiontwo__container__categories__category__web
                sectiontwo__container__categories__category__web__last
              ">
                        <span>Web Design</span
              ><span
                class="sectiontwo__container__categories__category__web__span"
              ></span>
                    </div>
                    <h2>popular posts</h2>
                    <span class="sectiontwo__container__categories__category__line"></span>

                    <div class="sectiontwo__container__categories__category__blog overflow">
                        <div class="
                  sectiontwo__container__categories__category__blog__responsive
                  float
                  width20
                ">
                            <img src="../static/images/work2.jpg" class="
                    responsive
                    sectiontwo__container__categories__category__blog__responsive__respo
                  " alt="imagetwo" />
                        </div>
                        <div class="
                  sectiontwo__container__categories__category__blog__side
                  float
                  width80
                ">
                            <h2>Blog Title Goes Here</h2>
                            <span>17 -augostos- 2002</span>
                        </div>
                    </div>
                    <div class="sectiontwo__container__categories__category__blog overflow">
                        <div class="
                  sectiontwo__container__categories__category__blog__responsive
                  float
                  width20
                ">
                            <img src="../static/images/work2.jpg" class="
                    responsive
                    sectiontwo__container__categories__category__blog__responsive__respo
                  " alt="imagetwo" />
                        </div>
                        <div class="
                  sectiontwo__container__categories__category__blog__side
                  float
                  width80
                ">
                            <h2>Blog Title Goes Here</h2>
                            <span>17 -augostos- 2002</span>
                        </div>
                    </div>
                    <div class="sectiontwo__container__categories__category__blog overflow">
                        <div class="
                  sectiontwo__container__categories__category__blog__responsive
                  float
                  width20
                ">
                            <img src="../static/images/work2.jpg" class="
                    responsive
                    sectiontwo__container__categories__category__blog__responsive__respo
                  " alt="imagetwo" />
                        </div>
                        <div class="
                  sectiontwo__container__categories__category__blog__side
                  float
                  width80
                ">
                            <h2>Blog Title Goes Here</h2>
                            <span>17 -augostos- 2002</span>
                        </div>
                    </div>
                    <h2>tags</h2>
                    <span class="sectiontwo__container__categories__category__line"></span>
                    <div class="sectiontwo__container__categories__category__spans">
                        <span>Web Design</span><span>Web Design</span
              ><span>Web Design</span> <span>Web Design</span
              ><span>Web Design</span> <span>Web Design</span
              ><span>Web Design</span><span>Web Design</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end section two -->
    <!-- start footer -->
    <footer class="footer center">
        <div class="container">
            <h2>logo</h2>
            <div class="footer__container__spans">
                <span></span><span></span><span></span><span></span><span></span
          ><span></span>
            </div>
            <p>
                Lorem ipsum dolor sit amet consectetur. ipsum dolor sit amet consectetur.
            </p>
        </div>
    </footer>
    <!-- end footer -->
</body>

</html>