<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/index.css" />
</head>

<body>
    <!-- start nav -->
    <nav class="nav">
        <div class="container">
            <div class="nav__container__parnav">
                <div class="nav__container__parnav__brand float width30">
                    <a href="#">brand</a>
                </div>
                <ul class="nav__container__parnav__ul float width70">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Portfolio</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Prices</a>
                    </li>
                    <li>
                        <a href="#">Team</a>
                    </li>
                    <li class="nav__container__parnav__ul__li">
                        <a href="blog.html">Blog </a>
                        <ul class="nav__container__parnav__ul__li__ul">
                            <li><a href="#">Our Blog</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
    </nav>
    <!-- end nav -->

    <!-- start sectionone -->
    <section class="sectionone">
        <div class="sectionone__overlay">
            <div class="sectionone__overlay__heroimage">
                <h1 class="sectionone__overlay__heroimage__heading">
                    we are creative agency
                </h1>
                <p>
                    Lorem, ipsum dolor sit amet voluptas. aut incidunt maiores nam aut incidunt maiores nam sequi ab?
                </p>
                <div class="sectionone__overlay__heroimage__btns">
                    <button class="sectionone__overlay__heroimage__btns__btn">
              Get Started
            </button>
                    <button class="sectionone__overlay__heroimage__btns__btn">
              Learn More
            </button>
                </div>
            </div>
        </div>
    </section>
    <!-- end sectionone -->
    <!-- start sectiontwo -->
    <section class="sectiontwo pd-y center">
        <div class="container">
            <h2 class="sectiontwo__container__heading">Welcome To Website</h2>
            <span class="sectiontwo__container__span"></span>
            <div class="sectiontwo__container__items overflow">
                <div class="sectiontwo__container__items__item float width30">
                    <span class="sectiontwo__container__items__item__span"></span>

                    <h3>Fully Customizible</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, laudantium?
                    </p>
                    <span class="sectiontwo__container__items__item__spanread">Read More..</span
            >
          </div>
          <div
            class="
              sectiontwo__container__items__item
              float
              width30
              sectiontwo__container__items__middleitem
              mlr
            "
          >
            <span class="sectiontwo__container__items__item__span"></span>

                    <h3>Fully Customizible</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, laudantium?
                    </p>
                    <span class="sectiontwo__container__items__item__spanread">Read More..</span
            >
          </div>
          <div class="sectiontwo__container__items__item float width30">
            <span class="sectiontwo__container__items__item__span"></span>

                    <h3>Fully Customizible</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, laudantium?
                    </p>
                    <span class="sectiontwo__container__items__item__spanread">Read More..</span
            >
          </div>
        </div>
      </div>
    </section>
    <!-- end sectiontwo -->
    <!-- start sectionthree -->
    <section class="sectionthree center">
      <div class="container">
        <h2 class="sectionthree__container__heading">Featured works</h2>
        <span class="sectionthree__container__span"></span>
                    <div class="sectionthree__container__categories overflow">
                        <div class="sectionthree__container__categories__category float width30">
                            <img src="../static/images/work2.jpg" class="responsive" alt="imageone" />
                        </div>
                        <div class="
              sectionthree__container__categories__category
              float
              width30
              mlr
            ">
                            <img src="../static/images/work2.jpg" class="responsive" alt="imagetwo" />
                        </div>
                        <div class="sectionthree__container__categories__category float width30">
                            <img src="../static/images/work2.jpg" class="responsive" />
                        </div>
                        <div class="sectionthree__container__categories__category float width30">
                            <img src="../static/images/work2.jpg" class="responsive" alt="imagefour" />
                        </div>
                        <div class="
              sectionthree__container__categories__category
              float
              width30
              mlr
            ">
                            <img src="../static/images/work2.jpg" class="responsive" alt="i magefive" />
                        </div>
                        <div class="sectionthree__container__categories__category float width30">
                            <img src="../static/images/work2.jpg" class="responsive" alt="imagesix" />
                        </div>
                    </div>
                </div>
    </section>
    <!-- end sectionthree -->
    <!-- start sectionfour -->
    <section class="sectionfour center">
        <div class="container">
            <h2 class="sectionfour__container__heading">What We Offer</h2>
            <span class="sectionfour__container__span"></span>
            <div class="sectionfour__container__offers overflow">
                <div class="sectionfour__container__offers__offer float width30">
                    <div class="sectionfour__container__offers__offer__spans">
                        <span>icon</span> <span>App Development</span>
                    </div>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium, eos.
                    </p>
                </div>
                <div class="sectionfour__container__offers__offer float width30 mlr">
                    <div class="sectionfour__container__offers__offer__spans">
                        <span>icon</span> <span>App Development</span>
                    </div>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium, eos.
                    </p>
                </div>
                <div class="sectionfour__container__offers__offer float width30">
                    <div class="sectionfour__container__offers__offer__spans">
                        <span>icon</span> <span>App Development</span>
                    </div>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium, eos.
                    </p>
                </div>
                <div class="sectionfour__container__offers__offer float width30">
                    <div class="sectionfour__container__offers__offer__spans">
                        <span>icon</span> <span>App Development</span>
                    </div>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium, eos.
                    </p>
                </div>
                <div class="sectionfour__container__offers__offer float width30 mlr">
                    <div class="sectionfour__container__offers__offer__spans">
                        <span>icon</span> <span>App Development</span>
                    </div>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium, eos.
                    </p>
                </div>
                <div class="sectionfour__container__offers__offer float width30">
                    <div class="sectionfour__container__offers__offer__spans">
                        <span>icon</span> <span>App Development</span>
                    </div>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium, eos.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- end sectionfour -->
    <!-- start sectionfive -->
    <section class="sectionfive pd-y">
        <div class="container">
            <div class="sectionfive__container__funcs overflow">
                <div class="sectionfive__container__funcs__func float width50">
                    <h2 class="sectionfive__container__funcs__func__heading">
                        Why Choose Us
                    </h2>
                    <span class="sectionfive__container__funcs__func__span"></span>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus
                        <br /> repellat earum mollitia vel et ab ad delectus commodi, atque dolore!earum mollitia vel et ab ad delectus commodi,
                    </p>
                    <div class="sectionfive__container__funcs__func__spans">
                        <span class="sectionfive__container__funcs__func__spans__icon"></span
              ><span>Lorem ipsum dolor sit amet.ipsum dolor sit amet.</span>
                    </div>
                    <div class="sectionfive__container__funcs__func__spans">
                        <span class="sectionfive__container__funcs__func__spans__icon"></span
              ><span>Lorem ipsum dolor sit amet.ipsum dolor sit amet.</span>
                    </div>
                    <div class="sectionfive__container__funcs__func__spans">
                        <span class="sectionfive__container__funcs__func__spans__icon"></span
              ><span>Lorem ipsum dolor sit amet.ipsum dolor sit amet.</span>
                    </div>
                    <div class="sectionfive__container__funcs__func__spans">
                        <span class="sectionfive__container__funcs__func__spans__icon"></span
              ><span>Lorem ipsum dolor sit amet.ipsum dolor sit amet.</span>
                    </div>
                </div>
                <div class="sectionfive__container__funcs__func float width50">
                    <div class="sectionfive__container__funcs__func__responsive">
                        <img src="../static/images/work2.jpg" class="responsive" alt="imageseven" />
                    </div>
                    <div class="sectionfive__container__funcs__func__bullets center">
                        <span class="sectionfive__container__funcs__func__bullets__bullet"></span
              ><span
                class="sectionfive__container__funcs__func__bullets__bullet"
              ></span
              ><span
                class="sectionfive__container__funcs__func__bullets__bullet"
              ></span>
                        <span class="sectionfive__container__funcs__func__bullets__bullet"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end sectionfive -->
    <!-- start sectionsix -->
    <section class="sectionsix">
        <div class="sectionsix__projects overflow">
            <div class="sectionsix__projects__project float width20 ml center">
                <span>icon</span>
                <span>578</span>
                <span>Happy Clients</span>
            </div>
            <div class="sectionsix__projects__project float width20 ml center">
                <span>icon</span>
                <span>578</span>
                <span>Happy Clients</span>
            </div>
            <div class="sectionsix__projects__project float width20 ml center">
                <span>icon</span>
                <span>578</span>
                <span>Happy Clients</span>
            </div>
            <div class="sectionsix__projects__project float width20 ml center">
                <span>icon</span>
                <span>578</span>
                <span>Happy Clients</span>
            </div>
        </div>
    </section>
    <!-- end sectionsix -->
    <!-- start sectionseven -->
    <section class="sectionseven pd-y center">
        <div class="container">
            <h2 class="sectionseven__container__heading">Pricing Tables</h2>
            <span class="sectionseven__container__span"></span>
            <div class="sectionseven__container__cards overflow">
                <div class="sectionseven__container__cards__card float width30">
                    <span class="sectionseven__container__cards__card__onespan">Basic PLan</span
            >
            <div class="sectionseven__container__cards__card__dollar">
              <h2>1$</h2>
              <span>/month</span>
                </div>
                <span>1 GB Disk Space</span>
                <span>100 Email Accounts</span>
                <span>24/24 Support</span>
                <button>Purchase Now</button>
            </div>
            <div class="
              sectionseven__container__cards__card
              float
              width30
              sectionseven__container__cards__middlecard
              mlr
            ">
                <span class="sectionseven__container__cards__card__onespan">Basic PLan</span
            >
            <div class="sectionseven__container__cards__card__dollar">
              <h2>1$</h2>
              <span>/month</span>
            </div>
            <span>1 GB Disk Space</span>
            <span>100 Email Accounts</span>
            <span>24/24 Support</span>
            <button>Purchase Now</button>
        </div>
        <div class="sectionseven__container__cards__card float width30">
            <span class="sectionseven__container__cards__card__onespan">Basic PLan</span
            >
            <div class="sectionseven__container__cards__card__dollar">
              <h2>1$</h2>
              <span>/month</span>
        </div>
        <span>1 GB Disk Space</span>
        <span>100 Email Accounts</span>
        <span>24/24 Support</span>
        <button>Purchase Now</button>
        </div>
        </div>
        </div>
    </section>
    <!-- end sectionseven -->
    <!-- start sectioneight -->
    <section class="sectioneight">
        <div class="container">
            <div class="sectioneight__container__par">
                <div class="sectioneight__container__par__overlay">
                    <div class="
                sectioneight__container__par__overlay__testimonials
                overflow
              ">
                        <div class="
                  sectioneight__container__par__overlay__testimonials__testimonial
                  float
                  width50
                ">
                            <div class="
                    sectioneight__container__par__overlay__testimonials__testimonial__testi
                    overflow
                  ">
                                <div class="
                      sectioneight__container__par__overlay__testimonials__testimonial__testi__responsive
                      float
                    ">
                                    <img src="../static/images/work2.jpg" class="responsive" alt="imageeight" />
                                </div>
                                <div class="
                      sectioneight__container__par__overlay__testimonials__testimonial__testi__about
                      float
                    ">
                                    <h2>John Doe</h2>
                                    <span>Web Designer</span>
                                </div>
                            </div>
                            <p>
                                Lorem officiis tempore numquam dolores aliquid accusantium
                                <br /> facere ea quasi dolor labore, fugit molestiae aliquam quam distinctio sed? Delectus, quisquam id!
                            </p>
                        </div>
                        <div class="
                  sectioneight__container__par__overlay__testimonials__testimonial
                  float
                  width50
                ">
                            <div class="
                    sectioneight__container__par__overlay__testimonials__testimonial__testi
                    overflow
                  ">
                                <div class="
                      sectioneight__container__par__overlay__testimonials__testimonial__testi__responsive
                      float
                    ">
                                    <img src="../static/images/work2.jpg" class="responsive" alt="imageeight" />
                                </div>
                                <div class="
                      sectioneight__container__par__overlay__testimonials__testimonial__testi__about
                      float
                    ">
                                    <h2>John Doe</h2>
                                    <span>Web Designer</span>
                                </div>
                            </div>
                            <p>
                                Lorem officiis tempore numquam dolores aliquid accusantium
                                <br /> facere ea quasi dolor labore, fugit molestiae aliquam quam distinctio sed? Delectus, quisquam id!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end sectioneight -->
    <!-- start sectionnine -->
    <section class="sectionnine pd-y center">
        <div class="container">
            <h2 class="sectionnine__container__heading">Our Teams</h2>
            <span class="sectionnine__container__span"></span>
            <div class="sectionnine__container__teams overflow">
                <div class="sectionnine__container__teams__team float width30">
                    <div class="sectionnine__container__teams__team__responsive">
                        <img src="../static/images/work2.jpg" class="responsive" alt="imagenine" />
                    </div>
                    <h2>John Doe</h2>
                    <span>Web Designer</span>
                </div>
                <div class="
              sectionnine__container__teams__team
              float
              width30
              sectionnine__container__teams__middleteam
              mlr
            ">
                    <div class="sectionnine__container__teams__team__responsive">
                        <img src="../static/images/work2.jpg" class="
                  responsive
                  sectionnine__container__teams__team__responsive__respo
                " alt="imagenine" />
                    </div>
                    <h2>John Doe</h2>
                    <span>Web Designer</span>
                </div>
                <div class="sectionnine__container__teams__team float width30">
                    <div class="sectionnine__container__teams__team__responsive">
                        <img src="../static/images/work2.jpg" class="responsive" alt="imagenine" />
                    </div>
                    <h2>John Doe</h2>
                    <span>Web Designer</span>
                </div>
            </div>
        </div>
    </section>
    <!-- end sectionnine -->
    <!-- start sectionten -->
    <section class="sectionten">
        <div class="container">
            <h2 class="sectionten__container__heading center">Recents News</h2>
            <span class="sectionten__container__span"></span>
            <div class="sectionten__container__blogs overflow">
                <div class="sectionten__container__blogs__blog float width30">
                    <div class="sectionten__container__blogs__blog__responsive">
                        <img src="../static/images/work2.jpg" class="
                  responsive
                  sectionten__container__blogs__blog__responsive__respo
                " alt="imageten" />
                    </div>
                    <div class="sectionten__container__blogs__blog__spans">
                        <span>
                <span
                  class="sectionten__container__blogs__blog__spans__icon"
                ></span
                >John Doe<span
                  class="sectionten__container__blogs__blog__spans__icon"
                ></span
                >John Doe<span
                  class="sectionten__container__blogs__blog__spans__icon"
                ></span
                >John Doe
              </span>
                    </div>
                    <h2>Lorem ipsum dolor sit.</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium beatae labore voluptatum.
                    </p>
                    <span>Learn More..</span>
                </div>
                <div class="
              sectionten__container__blogs__blog
              float
              width30
              sectionten__container__blogs__middleblog
              mlr
            ">
                    <div class="sectionten__container__blogs__blog__responsive">
                        <img src="../static/images/work2.jpg" class="
                  responsive
                  sectionten__container__blogs__blog__responsive__respo
                " alt="imageten" />
                    </div>
                    <div class="sectionten__container__blogs__blog__spans">
                        <span>
                <span
                  class="sectionten__container__blogs__blog__spans__icon"
                ></span
                >John Doe<span
                  class="sectionten__container__blogs__blog__spans__icon"
                ></span
                >John Doe<span
                  class="sectionten__container__blogs__blog__spans__icon"
                ></span
                >John Doe
              </span>
                    </div>
                    <h2>Lorem ipsum dolor sit.</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium beatae labore voluptatum.
                    </p>
                    <span>Learn More..</span>
                </div>
                <div class="sectionten__container__blogs__blog float width30">
                    <div class="sectionten__container__blogs__blog__responsive">
                        <img src="../static/images/work2.jpg" class="
                  responsive
                  sectionten__container__blogs__blog__responsive__respo
                " alt="imageten" />
                    </div>
                    <div class="sectionten__container__blogs__blog__spans">
                        <span>
                <span
                  class="sectionten__container__blogs__blog__spans__icon"
                ></span
                >John Doe<span
                  class="sectionten__container__blogs__blog__spans__icon"
                ></span
                >John Doe<span
                  class="sectionten__container__blogs__blog__spans__icon"
                ></span
                >John Doe
              </span>
                    </div>
                    <h2>Lorem ipsum dolor sit.</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium beatae labore voluptatum.
                    </p>
                    <span>Learn More..</span>
                </div>
            </div>
        </div>
    </section>
    <!-- end sectionten -->
    <!-- start sectioneleven -->
    <section class="sectioneleven pd-y center">
        <div class="container">
            <h2 class="sectioneleven__container__heading">Get In Touch</h2>
            <span class="sectioneleven__container__span"></span>
            <div class="sectioneleven__container__contacts overflow">
                <div class="sectioneleven__container__contacts__contact float width30">
                    <span>icon</span><br />
                    <span>phone</span><br />
                    <span>osama@osama.com</span>
                </div>
                <div class="
              sectioneleven__container__contacts__contact
              float
              width30
              sectioneleven__container__contacts__middlecontact
              mlr
            ">
                    <span>icon</span><br />
                    <span>phone</span><br />
                    <span>osama@osama.com</span>
                </div>
                <div class="sectioneleven__container__contacts__contact float width30">
                    <span>icon</span><br />
                    <span>phone</span><br />
                    <span>osama@osama.com</span>
                </div>
            </div>
            <form action="#" class="sectioneleven__container__form">
                <div class="sectioneleven__container__form__info">
                    <input type="text" placeholder="Name" />
                    <input type="email" placeholder="Email" />
                </div>
                <div class="sectioneleven__container__form__subject">
                    <input type="text" placeholder="Subject" />
                </div>
                <div class="sectioneleven__container__form__text">
                    <textarea cols="30" rows="10" placeholder="Message"></textarea>
                </div>
                <button>Send Message</button>
            </form>
        </div>
    </section>
    <!-- end sectioneleven -->
    <!-- start footer -->
    <footer class="footer center">
        <div class="container">
            <h2>logo</h2>
            <div class="footer__container__spans">
                <span></span><span></span><span></span><span></span><span></span
          ><span></span>
            </div>
            <p>
                Lorem ipsum dolor sit amet consectetur. ipsum dolor sit amet consectetur.
            </p>
        </div>
    </footer>
    <!-- end footer -->
</body>

</html>